@model Horizoft.Relay.WebAuthentication.Models.ExpandedUserDTO
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@*<div class="view-section-left">
    <div class="view-section-left-head">
        <div class="img-H">
            <img src='@Url.Content("~/Images/H4.png")' style="width:50px; height:40px;" alt="relay" />
            <div class="view-section-left-head-name">Relay</div>
        </div>
    </div>
    <div class="view-section-left-container">
        <div id="menu-left" class="menu-left">*@
@*@using (Html.BeginForm("LeftMenu", "Home", FormMethod.Get))
    {*@
@*@Html.Partial("../Home/LeftMenu")*@

@*}*@
@*</div>
        </div>
    </div>*@

<html>
<head>
    <title>@ViewBag.Title</title>
    <script>
        var serviceUrl = '@Horizoft.Relay.Web.Providers.ConfigProvider.ServiceUrl';
    </script>

    <link rel="stylesheet" href="~/Styles/pagestructure.css">
    <link rel="stylesheet" href="~/Styles/menu_left2.css">
    <link rel="stylesheet" href="~/Styles/component_library.css">
    <link rel="stylesheet" href="~/Styles/jquery/base/jquery.ui.all.css" />

    <script type="text/javascript" src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/Scripts/ui/jquery.ui.widget.js"></script>

    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.string.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.menu.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.webapi.js"></script>

    <script>
        $(document).ready(function () {
            $("#menu-left").loadLeftMenu('@Url.Content("~/Home/LeftMenu")', "")
            $(".tb_left_manu td[data-menu-item=true]").removeAttr("style");
        })

    </script>

</head>
<body style="background-color:#f5f5f5;  padding:0px; ">
    <div class="view-section-left">
        <div class="view-section-left-head">
            <div class="img-H">
                <img src='@Url.Content("~/Images/H4.png")' style="width:50px; height:40px;" alt="relay" />
                <div class="view-section-left-head-name">Relay</div>
            </div>
        </div>
        <div class="view-section-left-container" >
            <div id="menu-left" class="menu-left">
                @*@using (Html.BeginForm("LeftMenu", "Home", FormMethod.Get))
                    {*@
                @Html.Partial("../Home/LeftMenu")

                @*}*@
            </div>
        </div>
    </div>


    <div class="view-section-center">
        <div class="view-section-center-head">
            <div class="title-section-center-head">Admin</div>
            <div class="logout-item-right-head">@Html.Partial("../Shared/_LoginPartial")</div>
        </div>
        @*@Html.Partial("../Shared/_LoginPartial")
            <div class="view-section-center-head">Admin</div>*@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal-create">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group-create">
                    <h4>Edit User</h4>
                   
                    <table id="create-input" class="form-input">
                        <tr>
                            <td>@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</td>
                        </tr>

                        <tr>
                            <td> @Html.LabelFor(model => model.LockoutEndDateUtc, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Html.DisplayFor(model => model.LockoutEndDateUtc, new { htmlAttributes = new { @class = "form-control" } })</td>
                        </tr>
                    </table>
                    <div class="col-md-offset-2-create">
                        <input type="submit" value="Save" class="btn btn-default" />
                        @*@Html.ActionLink("Edit Roles", "EditRoles",new { UserName = Model.UserName },new { @class = "btn btn-default" })*@
                        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                    </div>

                </div>
            </div>
        }
       </div>
      
</body>
</html>