<html>
<head>

    <script>
        var serviceUrl = '@Horizoft.Relay.Web.Providers.ConfigProvider.ServiceUrl';
    </script>
    <link rel="stylesheet" href="~/Styles/pagestructure.css" />

    <link rel="stylesheet" href="~/Styles/menu_left2.css" />
    <link rel="stylesheet" href="~/Styles/component_library.css"/>
    <link rel="stylesheet" href="~/Styles/jquery-te-1.4.0.css">
    <link rel="stylesheet" href="~/Styles/jquery/base/jquery.ui.all.css" />
    <link rel="stylesheet" href="~/Styles/page-input.css">
    <link rel="stylesheet" href="~/Styles/popup.css">
    <link rel="stylesheet" href="~/Styles/page-report.css" />


    @if (@ViewBag.Title == "TemperatureDaily")
    {
        <script type="text/javascript" src="~/Scripts/jquery-1.7.2.min.js"></script>
    }
    else
    {
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    }

    @*<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/jquery-1.7.2.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery-te-1.4.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/Scripts/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/Scripts/ui/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/highcharts.js"></script>
    <script type="text/javascript" src="~/Scripts/exporting.js"></script>

    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.string.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/Utilities.API.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.menu.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.webapi.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.popup.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.datereport.js"></script>

    <script>
        $(document).ready(function () {
            $("#menu-left").setSelectedLeftMenu();
        })

    </script>

</head>
<body>
    <div class="view-section-left">

        <div class="view-section-left-head">
            <div class="img-H">
                <img src='@Url.Content("~/Images/H4.png")' style="width:50px; height:40px;" alt="relay" />
                <div class="view-section-left-head-name">Relay</div>
            </div>

        </div>

        <div class="view-section-left-container">

            <div class="menu-left" id="menu-left">
                @Html.Partial("../Home/LeftMenu")
            </div>
        </div>
    </div>

    <div class="view-section-center">

        @RenderBody()

    </div>


</body>
</html>
